/*Profile css*/

body, html {
    color: #666;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
    background-color: #1C2833;
}

header h4, header p {
    margin: 0px;
    color: black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgba(144, 144, 144, 0.25);
}

#section1 {
    padding: 100px;
    color: #fff;
    background-color: #17202A;
}

#section2 {
    padding: 0px;
    color: #fff;
    background-color: #1C2833;
}

#section3 {
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #1C2833;
}

#section4 {
    padding: 100px;
    color: #000;
	font-weight: bold;
    background-color: #FFC300;
}

/*In a smaller screen/phone {recommended 480px}*/
@media (max-width: 765px) {
    #section1{
        padding: 10px;
    }
    #section3{
        padding: 10px;
    }
    #section4{
        padding: 10px;
    }
}

#face{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#social a {
    color: #fff;
    padding-right: 10px;
}

#social a:hover {
    color: #DAF7A6;
    padding-right: 10px;
}

.portafolio{
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	padding-left: 30px;
	padding-top: 0px;
	height: 75px;
	-webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
}
.portafolio:hover{
	height: 300px;
}
.portafolio h2{
	background-color: black;
	padding: 5px;
	border-radius: 10px;
	display:inline-block;

}

.round{
    border-radius: 250px;
    object-fit: cover;
    width: 250px;
    height: 250px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section4 p {
    padding-bottom: 20px;
}

#port_escape{
	background:	linear-gradient(
      				rgba(0, 0, 0, 0.99),
      				rgba(0, 0, 0, 0.4)
    			),
				url(../images/escape.png);
				background-size: cover;
				background-repeat: no-repeat;
}
#port_find{
	background:	linear-gradient(
      				rgba(0, 0, 0, 0.99),
      				rgba(0, 0, 0, 0.4)
    			),
				url(../images/findMyFood.PNG);
				background-size: cover;
				background-repeat: no-repeat;
}
#port_sword{
	background:	linear-gradient(
      				rgba(0, 0, 0, 0.99),
      				rgba(0, 0, 0, 0.4)
    			),
				url(../images/sword.png);
				background-size: cover;
				background-repeat: no-repeat;
}
#port_hang{
	background:	linear-gradient(
      				rgba(0, 0, 0, 0.99),
      				rgba(0, 0, 0, 0.4)
    			),
				url(../images/hang.png);
				background-size: cover;
				background-repeat: no-repeat;
}
#port_vapula{
	background:	linear-gradient(
      				rgba(0, 0, 0, 0.99),
      				rgba(0, 0, 0, 0.4)
    			),
				url(../images/vapula.PNG);
				background-size: cover;
				background-repeat: no-repeat;
}
