/*
    Color Pallete
    Try 1
    blueberry:  #6B7A8F;
    apricot:    #F7882F;
    citrus:     #F7C331;
    apple core: #DCC7AA;

    Try 2
    dont nou    #F7FFD8;
    butter:     #FEDC3D;
    black:      #000000;
    azure:      #01ABAA;
    peach:      #FEA680;

    try3
    ice:        #99D3DF;
    fresh water:#88BBD6;
    plaster:    #CDCDCD;
    linen:      #E9E9E9;
*/

body, html {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
    background-color: #E9E9E9;
}

header {
    padding: 25px;
    padding-left: 200;
    padding-right: 200;
    background-color: #CDCDCD;
    text-align: left;
    border-top: 10px solid #88BBD6;
}

#content {
    background-color: #E9E9E9;
    padding: 20px;
}

.section {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.footer {
    padding: 40px;
    margin: 0px;
    text-align: center;
    background-color: #CDCDCD;
    border-bottom: 10px solid #88BBD6;
}

/*In a smaller screen/phone {recommended 480px}*/
@media (max-width: 765px) {
    header{
        text-align: center;
    }
}

#face{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-link {
    color: #333333;
    padding-right: 10px;
}

.icon-link:hover {
    color: #88BBD6;
    padding-right: 10px;
}

.round{
    border-radius: 250px;
    object-fit: cover;
    width: 250px;
    height: 250px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portafolio-image {
    width: 100%;
    padding: 10px;
    background-color: #99D3DF;
    border-radius: 5px;
    margin-bottom: 5px;
}

.progress-container {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #CDCDCD;
}

.progress-container .progress {
    margin-bottom: 2px;
}
