body, html {
	color: #666;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 2em;
	margin: 0;
	padding: 0;
}
#top{
	padding-top: 30px;
	padding-left: 30px;
	/*background-color: rgb(39, 40, 34);*/
	height: 300px;
	background-image: url('../images/bkg_piedra_small.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	display: block;
}
header h4 , header p{
	margin: 0px;
	color: black;
	-webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: rgba(144, 144, 144, 0.25);
}
#top ul{
	float: right;
}
#social{
	position: absolute;
	padding: 50px;
	right: 0px;
	top: 0px;
}
#social li{
	display: inline;
	margin: 20px;
}
.image.rounded {
	border-radius: 100%;
}

	.image.rounded img {
		border: solid 0.5em rgba(144, 144, 144, 0.25);
		border-radius: 100%;
	}